{% extends 'zurwan.base.html.twig' %}

{% block stylesheets %}
    <link href='{{ asset('assets/css/fullcalendar/main.css') }}' rel='stylesheet' />
    <link href='{{ asset('assets/css/calendar.css') }}' rel='stylesheet' />
    <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.css">-->
{% endblock %}

{% block body %}

    <div id="calendar-holder"></div>

    <div id="newDateModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="newDateForm">
                        <label for="title">Titre :</label>
                        <input type="text" name="title" id="title"><br>
                        <label for="description">Description :</label>
                        <textarea name="description" id="desc" cols="30" rows="10"></textarea><br>
                        <label for="dateBegin">Début :</label>
                        <input type="date" name="dateBegin" id="dateBegin">
                        <input type="time" name="timeBegin" id="timeBegin"><br>
                        <label for="dateEnd">Fin : </label>
                        <input type="date" name="dateEnd" id="dateEnd">
                        <input type="time" name="timeEnd" id="timeEnd"><br>
                        <label for="colorback">Couleur de fond :</label>
                        <input type="color" name="colorback" id="colorback"><br>
                        <label for="colorfont">Couleur de police:</label>
                        <input type="color" name="colorfont" id="colorfont"><br>
                        <input type="hidden" name="plsno" id="plsno">
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for date display -->
    <div id="displayDateModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label for="description">Description :</label>
                        <p name="description" id="disp_desc"></p>
                    </div>
                    <div class="row">
                        <label for="dateBegin">Début :</label>
                        <p type="date" name="dateBegin" id="disp_dateBegin"></p>
                    </div>
                    <div class="row">
                        <label for="dateEnd">Fin : </label>
                        <p type="date" name="dateEnd" id="disp_dateEnd"></p>
                    </div>
                    <input type="hidden" id="dontlookpls">
                </div>
                <div class="modal-footer">
                    <button id="updateButton" type="button" class="btn btn-primary">Modifier</button>
                    <button id="inviteButton" type="button" class="btn btn-primary">Inviter</button>
                    <button id="deleteButton" type="button" class="btn btn-primary">Supprimer</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal for date invite -->
    <div id="inviteDateModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Inviter à une date</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <label for="searchity">Nom/email :</label>
                        <input name="searchity" id="searchity"/>
                        <i class="fas fa-search"></i>
                    </div>
                    <div class="loader">Chargement...</div>
                    <div id="searchResults">
                    </div>
                    <input type="hidden" id="plsffs">
                </div>
                <div class="modal-footer">
                    <button id="inviteButton2" type="button" class="btn btn-primary">Inviter</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scriptend %}
    <script src='{{ asset('assets/js/fullcalendar/main.js') }}'></script>
    <script src='{{ asset('assets/js/fullcalendar/fr.js') }}'></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@4.1.0/main.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@4.1.0/locales/fr.js"></script>-->

    <script type="text/javascript">
        var urf="{{ path('fc_load_events') }}";
        var id={{ id }};
    </script>
    {% if autho %}
        <script src="{{ asset('assets/js/calendar.js') }}"></script>
    {% else %}
        <script src="{{ asset('assets/js/calendarrr.js') }}"></script>
    {% endif %}
{% endblock %}