<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/zurvan.css') }}">
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}

        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    {% if app.user %}
    <header>
        <img src="{{ asset('assets/img/logo.png') }}" alt="Logo Zurvan">
        <div id="profileWidget">
            <a href="{{ path("users_profile",{id:app.user.id}) }}"><div id="avamin"></div></a>
            <div>
                <p>{{ app.user.email }}</p>
                <div id="profileWidgetButtons"><a href="{{ path('calendar',{id:app.user.id}) }}"><i class="far fa-calendar-alt"></i></a><a href="{{ path('app_logout') }}"><i class="fas fa-sign-out-alt"></i></a></div>
            </div>
        </div>
    </header>
    {% endif %}
    <body>
        {% block body %}{% endblock %}
        <!-- Loading modal for loading/update messages -->
        <div id="loadingModal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <div class="loader">Chargement...</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script src="{{ asset('assets/js/jquery-3.6.0.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.bundle.js') }}"></script>
    {% block scriptend %}{% endblock %}
</html>
