{% extends 'zurwan.base.html.twig' %}

{% block title %}Zurvan - dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/dash2.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row"><div class="col-lg-3">
                <!-- Last 3 contacts -->
                <section id="lastContacts">
                    <h2>Répertoire</h2>
                    <div>Derniers contacts ajoutés :</div>
                    {% for infos in request %}
                        <div class="contact">
                            {% for key, info in infos %}
                                <strong>{{ key }}</strong> : {{ info }}<br>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <div class="widgetButtons">
                        <i id="searchContacts" class="fas fa-search"></i>
                        <a href="{{ path('contacts_index') }}"><i class="fas fa-angle-double-right" style="padding-left: 7px;
    padding-right: 7px;"></i></a>
                    </div>
                </section>

                <!-- Next 3 events -->
                <section id="nextEvents">
                    <h2>Prochains évènements</h2>
                    <div id="events">
                    {% if events==null %}
                    Aucun évènement proche à venir.
                    {% else %}
                        {% for event in events %}
                            <div class="event">
                                <div class="event-title">{{ event.getBeginAt()|format_datetime(pattern="dd.MM.yyyy '-' HH:mm")}}/{{ event.getEndAt()|format_datetime(pattern="HH:mm")}}</div>
                                <div class="event-content">
                                    <strong>{{ event.title }}</strong><br>
                                    {{ event.description }}
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </section>
            </div>

            <div class="col-lg-9">
                <!-- Other accessible calendars -->
                <section id="otherCalendars">
                    <i id="begPeople" class="fas fa-search"></i>
                    <h2>Calendriers accessibles</h2>
                    <div class="row" style="margin-left: 0px;margin-right:0px">
                    {% if invites==null %}
                        Vous n'avez été invité(e) à voir aucun calendrier. C'est dommage.
                    {% else %}
                        {% for invite in invites %}
                            {% if file_exists('./uploads/ava/' ~ invite.id ~ '.png') %}
                                <a href="{{ path("users_profile",{id:invite.id}) }}"><div class="miniAva" style="background-image:url({{ '../../uploads/ava/' ~ invite.id ~ '.png'}});"></div></a>
                            {% else %}
                                <a href="{{ path("users_profile",{id:invite.id}) }}"><div class="miniAva" style="background-image:url({{ '../../uploads/ava/0.png'}});"></div></a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </section>

                <!-- Guest(s) to your calendar -->
                <section id="calGuests">
                    <i id="invitePeople" class="fas fa-search"></i>
                    <h2>Invité(es) à votre calendrier</h2>
                    <div class="row" style="margin-left: 0px;margin-right:0px">
                    {% if user.invitedUsers.isEmpty() %}
                    Aucun invité. Pourquoi ne pas chercher du monde à inviter ?
                    {% else %}
                        {% for invite in user.invitedUsers %}
                            {% if file_exists('./uploads/ava/' ~ invite.id ~ '.png') %}
                                <a href="{{ path("users_profile",{id:invite.id}) }}"><div class="miniAva" style="background-image:url({{ asset('uploads/ava/'~user.id~'.png')|imagine_filter('miniava')}});"></div></a>
                            {% else %}
                                <a href="{{ path("users_profile",{id:invite.id}) }}"><div class="miniAva" style="background-image:url({{ asset('uploads/ava/0.png')|imagine_filter('miniava')}});"></div></a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                    </div>
                </section>
            </div>
        </div>

        <!-- Search modal for contacts and invites-->
        <div id="searchModal" class="modal fade show" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <label for="searchity"></label>
                            <input name="searchity" id="searchity"/>
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="loader" id="searchLoader">Chargement...</div>
                        <div id="searchResults">
                        </div>
                    </div>
                    <div class="modal-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scriptend %}
    <script type="text/javascript">
        var id={{ app.user.id }};
    </script>
        <script src="{{ asset('assets/js/dashboard.js') }}"></script>
{% endblock %}