{% extends 'zurwan.base.html.twig' %}

{% block title %}Zurvan - dashboard{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/profile.css') }}">
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col">
            {% if file_exists('./uploads/ava/' ~ user.id ~ '.png') %}
            <img id="ava" src="{{ asset('uploads/ava/'~user.id~'.png') }}" alt="Avatar de l'utilisateur">
        {% else %}
            <img id="ava" src="{{ asset('uploads/ava/0.png') }}" alt="Avatar de l'utilisateur">
        {% endif %}
            <form enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{user.id}}">
            <input id="fileinput" type="file" name="fileinput" style="display:none"/>
            </form>
        </div>
        <div class="col">
            <div><strong>Email :</strong> {{ app.user.email }}</div>
            <div><strong>Nom :</strong> <div {% if user.last_name %}id="lastname" >{{ user.last_name }}{% else %} id="lastnameempty">(non renseigné){% endif %}</div></div>
            <div><strong>Prénom :</strong> <div {% if user.first_name %}id="firstname" >{{ user.first_name }}{% else %} id="firstnameempty">(non renseigné){% endif %}</div></div>
            <div><strong>Sexe :</strong>
                {% if user.sex==1 %}<div id="gender">Homme</div>
                {% elseif user.sex==2 %}<div id="gender">Femme</div>
                {% elseif user.sex==3 %}<div id="gender">Autre</div>
                {% else %}<div id="gender">(non renseigné)</div>
                {% endif %}
            </div>
            <div><strong>Bio :</strong><br><div {% if user.bio %}id="bio" >{{ user.bio }}{% else %} id="bioempty" >(non renseigné){% endif %}</div></div>
        </div>
    </div>
    {%  if app.user.id != user.id %}
    <div class="row">
        {% if isInvited or app.user.isAdmin() %}
            <a href="{{ path('calendar',{id:user.id}) }}"><button>Calendrier</button></a>
        {% else %}
            <button id="requestInvite">Demander l'accès au calendrier</button>
        {% endif %}
        {% if hasInvited %}
            <button id="denyAccess">Retirer l'accès au calendrier</button>
        {% else %}
            <button id="allowAccess">Donner l'accès au calendrier</button>
        {% endif %}
    </div>
    {% endif %}
</div>
{% endblock %}
{% block scriptend %}
    <script>var id={{user.id}}; </script>
    {% if app.user.id == user.id %}
        <script>
            var redirUrl="{{ path('users_update',{id:user.id}) }}";</script>
        <script src="{{ asset('assets/js/profile/profileedit.js') }}"></script>
    {% else %}
        <script>var ourId={{app.user.id}}; </script>
        <script src="{{ asset('assets/js/profile/profilerequests.js') }}"></script>
    {% endif %}
{% endblock %}